<header class="header">
    <div class="container">
        <div class="row">
            <a href="/" class="logo">Blogger</a>
            <ul class="header-links">
                <li><a href="/">Home</a></li>
                <li><a href="#">About</a></li>

                <% if logged_in? %>
                    <li><a href="/article">Send Article</a></li>
                    <li><a href="/posts/all?id=<%= current_user["id"] %>">My Posts</a></li>
                    <li>
                        <form action="/logout" method="POST">
                            <input type="hidden" name="_method" value="delete">
                            <button class="logout-btn">Logout</button>
                        </form>
                    </li>
                <% else %>
                    <li><a href="/login">Send Article</a></li>
                    <li><a href="#">Contact</a></li>
                <% end %>

            </ul>
        </div>
    </div>
</header>

<main id="edit" class="section-gap vh-100">
    <div class="container">
        <h1 class="text-center">Edit Post</h1>

        <form action="/post/<%= post["id"] %>" method="POST">
            <input type="hidden" name="_method" value="patch">
            <input type="text" name="title" value="<%= post["title"] %>" class="form-control">
            <input type="text" name="image_url" value="<%= post["image_url"]%>" class="form-control">
            <textarea name="message" id="edit-editor" cols="30" rows="10"></textarea>
            <div class="text-center">
                <button type="submit" class="edit-btn">Edit</button>
            </div>
        </form>
    </div>
</main>

<footer>
    <div class="container text-center">
        Copyright &copy; <%= Date.today.year %> Blogger
    </div>
</footer>